/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}


/***************************************************** HEADER ***********/

header {
    /* background: white; */
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0 1em 1em;
    /* border-bottom: 3px solid #660099; */
    background: #212121;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    color: #DBFF00;
}


/***************************************************** MAIN ***********/

main {
    /* background: darkslateblue; */
    /* padding: 0 0 0 4em; */
    /* padding: 0 0 0 8em; */
    /* margin: 0 2vw 0 2vw; */
    background: #e5e5e5;
}


/***************************************************** COVER ***********/

.cover-section {
    background-color: white;
    margin: 1em 0 1em 0;
    padding: 3em 1.5em 3em 1.5em;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(2em, 4vw), 4em);
    margin: 0;
    /* background-color: antiquewhite; */
    color: #6D019F;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    /* font-size: 4vw; */
    font-size: min(max(2em, 4vw), 4em);
    font-weight: normal;
    padding: .2em 0 .2em 0;
    line-height: 115%;
    color: #212121;
    /* border-radius: 8px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cover-date {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(1em, 2vw), 1em);
    margin: 0;
    padding-bottom: 1em;
    color: #6D019F;
    border-bottom: 3px solid #6D019F;
}

.cover-figure {
    width: 100%;
    height: auto;
    margin: 2em 0 2em 0;
}

img {
    width: 100%;
}

.cover-caption {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #6D019F;
    padding: .5em 0 .25em 0.25em;
}

.cover-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 135%;
    color: #212121;
    padding-bottom: 1em;
}

.cover-blockquote {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: normal;
    color: #212121;
    border-left: 3px solid #6D019F;
    /* background-color: #abfa3d; */
    padding-left: 2em;
}


/***************************************************** CONCLUSION ***********/

.conclusion-section {
    background-color: #DBFF00;
    /* margin: 1em 0 4vw 0; */
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

.conclusion-h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    /* padding: 2vw 2vw .5em 2vw; */
    /* background-color: yellow;*/
    color: #3C0059;
}

.conclusion-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 135%;
    color: rgb(57, 57, 57);
    color: #212121;
    padding-bottom: 2em;
}

.conclusion-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}

.conclusion-summary-items {
    display: flex;
    flex-flow: column;
}

.conclusion-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 700;
    /* background-color: lightblue; */
    margin-bottom: .75em;
    color: #DBFF00;
    background-color: #212121;
    padding-top: .25em;
    padding-bottom: .25em;
    padding: .25em .5em .25em .5em;
    /* text-align: center; */
    align-self: start;
}

.conclusion-short {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 500;
    /* background-color: orange; */
    color: #3C0059;
    padding-bottom: .5em;
}

.conclusion-long {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 135%;
    color: rgb(57, 57, 57);
}


/***************************************************** LEFT SIDEBAR ***********/

.left-sidebar {
    padding: 1em 1em 2em 1em;
    margin: 0 0 0 0;
    /* border-right: 1px solid black;
    border-bottom: 3px solid #33006a; */
    background: #e5e5e5;
}

nav {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 1em 0 0 0;
}

.nav {
    list-style-type: none;
    list-style: none;
    line-height: 100%;
}

.nav-list-item-a,
.nav-list-item-b {
    padding-left: 0;
    text-decoration: none;
}

.nav-bold {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 1.33em;
}

a:hover {
    background-color: #DBFF00;
    color: #212121;
    text-decoration: underline;
}

a:active {
    background-color: #DBFF00;
    color: #660099;
}

.nav-list-item-b {
    background-color: #DBFF00;
    color: #3C0059;
}


/***************************************************** RIGHT SIDEBAR ***********/

.right-sidebar {
    background: white;
    padding: 0 0 0 0em;
    background: #e5e5e5;
}


/***************************************************** FOOTER ***********/

footer {
    background: #222831;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #DBFF00;
    padding: 3em 0 3em 0;
    text-align: center;
}


/***************************************************** RESPONSIVE HOLY GRAIL ***********/

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
        padding: 3em 0 3em 0;
    }
    main {
        flex: 8.5;
        order: 2;
        min-height: 80vh;
        justify-content: center;
        background-color: #e5e5e5;
    }
    .left-sidebar {
        order: 1;
        flex: 3.2;
    }
    .right-sidebar {
        flex: 2.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}