/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}

video {
    width: 100%;
}


/***************************************************** HEADER ***********/

header {
    /* background: white; */
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0 1em 1em;
    /* border-bottom: 3px solid #660099; */
    background: #212121;
}

section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    color: #DBFF00;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(2em, 4vw), 2em);
    margin: 0;
    /* background-color: antiquewhite; */
    color: #212121;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    /* font-size: 4vw; */
    font-size: min(max(2em, 4vw), 2em);
    font-weight: normal;
    padding: .2em 0 .2em 0;
    line-height: 115%;
    color: #660099;
    /* border-radius: 8px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.8em;
    margin: 0;
    padding-bottom: 0.25em;
    font-weight: 500;
    color: #660099;
}

h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #212121;
    padding-bottom: 0.25em;
}

h6 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #3C0059;
    padding-bottom: 0.25em;
}

.p-intro {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
    line-height: 160%;
    color: #212121;
    padding-bottom: 1em;
    padding-top: 1em;
}

p {
    font-family: 'Epilogue', sans-serif;
    font-size: .9em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
}

center-text {
    font-family: 'Epilogue', sans-serif;
    font-size: .9em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    text-align: center;
    border: 3px solid #212121;
}

.cover-date {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(1em, 2vw), .85em);
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: #212121;
    border-bottom: 3px solid #660099;
}

.yellow-section {
    background-color: #DBFF00;
}

.yellow-boader-section {
    border: solid 10px #DBFF00;
    text-align: center;
    margin: 0;
}


/***************************************************** CONCLUSION ***********/

.conclusion-section {
    background-color: #DBFF00;
    /* margin: 1em 0 4vw 0; */
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
    background-color: #DBFF00;
}

.conclusion-h4 {
    font-size: 1em;
    line-height: 160%;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    /* padding: 2vw 2vw .5em 2vw; */
    /* background-color: yellow;*/
    color: #3C0059;
}

.conclusion-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 160%;
    font-weight: 300;
    color: rgb(57, 57, 57);
    color: #212121;
    padding-bottom: 2em;
}

.conclusion-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}

.conclusion-summary-items {
    display: flex;
    flex-flow: column;
}

.conclusion-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 400;
    /* background-color: lightblue; */
    margin-bottom: .75em;
    color: #DBFF00;
    background-color: #212121;
    padding-top: .25em;
    padding-bottom: .25em;
    padding: .25em .5em .25em .5em;
    /* text-align: center; */
    align-self: start;
}

.conclusion-short {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 300;
    /* background-color: orange; */
    color: #3C0059;
    padding-bottom: .5em;
}

.conclusion-long {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    color: rgb(57, 57, 57);
}

.conclusion-section {
    /* margin: 1em 0 4vw 0; */
    margin: 1em 0 1em 0;
}

.conclusion-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.conclusion-summary-items {
    display: flex;
    flex-flow: column;
    background-color: white;
}


/* ========================================================================== */


/* GRID - checklist */


/* ========================================================================== */

.checklist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.checklist-items {
    display: flex;
    flex-flow: column;
    text-align: center;
    border: 1px solid;
    border-color: #660099;
    padding: 1em 1em 1em 1em;
}

.checklist-p {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    color: #660099;
}


/* ========================================================================== */


/* PHOTOS  */


/* ========================================================================== */

iframe {
    align-content: center;
}

img {
    width: 100%;
}

.quarter-size {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.half-size {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.threequater-size {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.two-photo-grid- {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

figcaption {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: normal;
    background-color: #212121;
    color: #DBFF00;
    padding: .5em 0 .25em 0.25em;
}


/* ========================================================================== */


/* My GRID */


/* ========================================================================== */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid-item {
    display: flex;
    flex-flow: column;
}


/* ========================================================================== */


/* FLEXBOX  */


/* ========================================================================== */

.flexbox {
    display: flex;
    flex-flow: row nowrap;
}

.flexbox-2 {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    padding-right: 2em;
    flex: 0 0 50%;
}


/* ========================================================================== */


/* LISTS */


/* ========================================================================== */

.list-group {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    padding-left: 3rem;
}

ul {
    padding-left: 1.5rem;
}

ol {
    padding-left: 1.5rem;
}

li {
    font-family: 'Epilogue', sans-serif;
    font-size: .9em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    /* padding-left: 3rem; */
}

ul-table {
    font-size: .9em;
}


/* ========================================================================== */


/* BOLD */


/* ========================================================================== */

b {
    font-weight: 400;
}


/* ========================================================================== */


/* TABLE SECTION  */


/* ========================================================================== */

.table-section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

table {
    width: 100%;
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
}

th {
    border: none;
    text-align: left;
    padding: .5em 1em .5em 1em;
}

td {
    padding: .5em 1em .5em 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th:hover {
    background-color: white;
}


/* .table-container tr:hover {
    background-color: #DBFF00;
}


.alpha:hover {
    background-color: white;
} */

.table-link {
    text-align: end;
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
    line-height: 150%;
}

.table-link-title {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
    line-height: 150%;
}


/* ========================================================================== */


/* CODE HIGHLIGHT JS */


/* ========================================================================== */

div.code {
    white-space: pre;
}

pre {
    tab-width: 4;
}


/***************************************************** LEFT SIDEBAR ***********/

.left-sidebar {
    padding: 1em 1em 2em 1em;
    margin: 0 0 0 0;
    /* border-right: 1px solid black;
    border-bottom: 3px solid #33006a; */
    background: #e5e5e5;
}

nav {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 1em 0 0 0;
}

.nav {
    list-style-type: none;
    list-style: none;
    line-height: 100%;
}

.nav-list-item-a {
    padding-left: 0;
    text-decoration: none;
}

.nav-bold {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 1.33em;
}

a:hover {
    background-color: #DBFF00;
    color: #212121;
}

a {
    color: #3C0059;
}


/***************************************************** RIGHT SIDEBAR ***********/

.right-sidebar {
    background: white;
    padding: 0 0 0 0em;
    background: #e5e5e5;
}

#page-wrap {
    width: 100%;
    margin: 15px auto;
    position: relative;
}

#sidebar {
    width: 190px;
    margin-left: 410px;
    position: fixed;
}


/***************************************************** FOOTER ***********/

footer {
    background: #222831;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #DBFF00;
    padding: 3em 0 3em 0;
    text-align: center;
}

button {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.33em;
    font-weight: normal;
    width: 270px;
    height: 66px;
}


/***************************************************** RESPONSIVE HOLY GRAIL ***********/

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
        padding: 3em 0 3em 0;
    }
    main {
        flex: 8.5;
        order: 2;
        min-height: 80vh;
        justify-content: center;
        background-color: #e5e5e5;
    }
    .left-sidebar {
        order: 1;
        flex: 3.2;
    }
    .right-sidebar {
        flex: 2.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}