/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
}


/***************************************************** HEADER ***********/

header {
    /* background: white; */
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0 1em 1em;
    /* border-bottom: 3px solid #660099; */
    background: #212121;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    color: #DBFF00;
}


/***************************************************** MAIN ***********/

main {
    /* background: darkslateblue; */
    /* padding: 0 0 0 4em; */
    /* padding: 0 0 0 8em; */
    /* margin: 0 2vw 0 2vw; */
    border-left-color: #222831;
    background: #e5e5e5;
}


/***************************************************** BREADCRUMBS ***********/

.breadcrumbs-text {
    font-family: 'Epilogue', sans-serif;
    font-weight: normal;
    font-size: .75em;
    margin-bottom: 3em;
    color: #565656;
}

.breadcrumbs-highlighted {
    background-color: #DBFF00;
    color: #3C0059;
}


/***************************************************** COVER ***********/

.cover-section {
    background-color: white;
    margin: 1em 0 1em 0;
    padding: 3em 1.5em 3em 1.5em;
}

.cover-date {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(1em, 2vw), .85em);
    margin: 0;
    padding-bottom: 1em;
    color: #660099;
    border-bottom: 3px solid #660099;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(2em, 4vw), 4em);
    margin: 0;
    line-height: 110%;
    /* background-color: antiquewhite; */
    color: #660099;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    /* font-size: 4vw; */
    font-size: min(max(2em, 4vw), 4em);
    font-weight: normal;
    padding: .2em 0 .2em 0;
    line-height: 115%;
    color: #222831;
    /* border-radius: 8px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cover-figure {
    width: 100%;
    height: auto;
    margin: 2em 0 2em 0;
}

img {
    width: 100%;
}

.cover-caption {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: normal;
    color: #660099;
    padding: .5em 0 .25em 0.25em;
}

.cover-para {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 600;
    line-height: 160%;
    color: #212121;
    padding-bottom: 1em;
}

.cover-blockquote {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    border-left: 3px solid #660099;
    /* background-color: #abfa3d; */
    padding-left: 2em;
}


/***************************************************** STEPS*/

.steps-section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 0.25em;
    /* background-color: yellow;*/
    color: #660099;
}

.steps-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    /* background-color: blue; */
}

.steps-list {
    font-family: 'Epilogue', sans-serif;
    font-size: 0.85em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    padding: 1em 0 1em 8vw;
}

.steps-ul {
    font-family: 'Epilogue', sans-serif;
    font-size: 0.85em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    padding: 1em 0 1em 8vw;
    list-style: none;
}

.steps-list-indent {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
    padding: .5em 0 .5em 4vw;
}


/***************************************************** MASONRY ***********/

.masonry-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 1em 0 1em 0;
    padding: 3em 1.5em 3em 1.5em;
    background-color: white;
}

.masonry-grid-container {
    columns: 2 250px;
    column-gap: 3em;
    width: 100%;
}

.masonry-figure-item {
    width: 150px;
    display: inline-block;
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0 0 0 0;
    /* space under each caption */
}


/* masonry-content-item {
    width: 100%;
} */

.masonry-caption {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #660099;
    padding: .5em 0 .25em 0.25em;
}

.ff50-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
}

.ff50 {
    width: 50%;
    height: auto;
    padding: 1em;
}


/*****************************************************PARAGRAPH ***********/

.centrepiece-section {
    background-color: #660099;
    padding: 3em 0em 3em 0em;
    margin: 1em 0 1em 0;
}

.centrepiece-h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 0.25em;
    color: #DBFF00;
    text-align: center;
}


/*****************************************************PARAGRAPH ***********/

.paragraph-section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

.paragraph-h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 0.25em;
    color: #660099;
}

.paragraph-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #212121;
    padding-bottom: 0.25em;
}

.paragraph-h6 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #3C0059;
    padding-bottom: 0.25em;
}

.paragraph {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 160%;
    font-weight: 300;
    color: #212121;
}


/***************************************************** FULL IMAGE SECTION ***********/

.full-image-section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

.full-image-figure-items {
    width: 100%;
    height: auto;
}

.full-image-caption {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #660099;
    padding: .5em 0 .25em 0.25em;
}


/***************************************************** CODE ***********/

pre code {
    max-height: 300px;
}

pre code {
    display: inline-block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
}


/***************************************************** ONE LINE_CODE ***********/

.code-short-section pre code {
    height: auto;
}

.code-short-section pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    margin: 2em 0 2em 0;
}

mark {
    background-color: #e5e5e5;
    padding: .225em;
}


/***************************************************** CONCLUSION ***********/

.conclusion-section {
    background-color: #DBFF00;
    /* margin: 1em 0 4vw 0; */
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

.conclusion-h4 {
    font-size: 1em;
    line-height: 160%;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    /* padding: 2vw 2vw .5em 2vw; */
    /* background-color: yellow;*/
    color: #3C0059;
}

.conclusion-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 160%;
    font-weight: 300;
    color: rgb(57, 57, 57);
    color: #212121;
    padding-bottom: 2em;
}

.conclusion-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}

.conclusion-summary-items {
    display: flex;
    flex-flow: column;
}

.conclusion-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 700;
    /* background-color: lightblue; */
    margin-bottom: .75em;
    color: #DBFF00;
    background-color: #212121;
    padding-top: .25em;
    padding-bottom: .25em;
    padding: .25em .5em .25em .5em;
    /* text-align: center; */
    align-self: start;
}

.conclusion-short {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 500;
    /* background-color: orange; */
    color: #3C0059;
    padding-bottom: .5em;
}

.conclusion-long {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    line-height: 160%;
    font-weight: 300;
    color: rgb(57, 57, 57);
}


/***************************************************** LEFT SIDEBAR ***********/

.left-sidebar {
    padding: 1em 1em 2em 1em;
    margin: 0 0 0 0;
    /* border-right: 1px solid black;
    border-bottom: 3px solid #33006a; */
    background: #e5e5e5;
}

nav {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 1em 0 0 0;
}

.nav {
    list-style-type: none;
    list-style: none;
    line-height: 100%;
}

.nav-list-item-a {
    padding-left: 0;
    text-decoration: none;
}

.nav-bold {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 1.33em;
}

a:hover {
    background-color: #DBFF00;
    color: #212121;
}

a {
    color: #3C0059;
}


/***************************************************** RIGHT SIDEBAR ***********/

.right-sidebar {
    background: white;
    padding: 0 0 0 0em;
    background: #e5e5e5;
}


/***************************************************** FOOTER ***********/

footer {
    background: #222831;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #DBFF00;
    padding: 3em 0 3em 0;
    text-align: center;
}

button {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.33em;
    font-weight: normal;
    width: 270px;
    height: 66px;
}


/***************************************************** RESPONSIVE HOLY GRAIL ***********/

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
        padding: 3em 0 3em 0;
    }
    main {
        flex: 8.5;
        order: 2;
        min-height: 80vh;
        justify-content: center;
        background-color: #e5e5e5;
    }
    .left-sidebar {
        order: 1;
        flex: 3.2;
    }
    .right-sidebar {
        flex: 2.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}