/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}


/***************************************************** HEADER ***********/

header {
    /* background: white; */
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0 1em 1em;
    /* border-bottom: 3px solid #660099; */
    background: #212121;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    color: #DBFF00;
}


/***************************************************** MAIN ***********/

main {
    /* background: darkslateblue; */
    /* padding: 0 0 0 4em; */
    /* padding: 0 0 0 8em; */
    /* margin: 0 2vw 0 2vw; */
    border-left-color: #222831;
    background: #e5e5e5;
}


/***************************************************** COVER ***********/

.cover-section {
    background-color: white;
    margin: 1em 0 1em 0;
    padding: 3em 1.5em 3em 1.5em;
    background: #232A33;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(2em, 4vw), 2em);
    margin: 0;
    /* background-color: antiquewhite; */
    color: #DBFF00;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    /* font-size: 4vw; */
    font-size: min(max(2em, 4vw), 2em);
    font-weight: normal;
    padding: .2em 0 .2em 0;
    line-height: 115%;
    color: snow;
    /* border-radius: 8px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cover-date {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(1em, 2vw), .85em);
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: #DBFF00;
    border-bottom: 1.5px solid #DBFF00;
}

.cover-para {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
    line-height: 135%;
    color: snow;
    padding-bottom: 1em;
    padding-top: 1em;
}


/***************************************************** CONCLUSION ***********/

img {
    width: 100%;
    height: auto;
}

.conclusion-section {
    /* margin: 1em 0 4vw 0; */
    margin: 1em 0 1em 0;
}

.conclusion-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.conclusion-summary-items {
    display: flex;
    flex-flow: column;
    background-color: white;
}

.conclusion-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    /* background-color: lightblue; */
    font-weight: normal;
    color: #660099;
    margin: 2rem 1.5rem 0rem 1.5rem;
    border-bottom: 2px solid #660099;
    padding-bottom: .25rem;
    /* background-color: rgb(201, 255, 6); */
}

.conclusion-short {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.6em;
    line-height: 110%;
    font-weight: 500;
    color: #660099;
    padding: 1rem 1.5rem 0rem 1.5rem;
    /* background-color: blueviolet; */
}

.conclusion-long {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    line-height: 135%;
    color: rgb(57, 57, 57);
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-weight: 300;
}

.button {
    background-color: white;
    border: none;
    text-align: left;
    padding-bottom: 1.5rem;
}

button:hover {
    background-color: #DBFF00;
    color: #212121;
    border: none;
    color: green;
}

button:active {
    color: #3C0059;
    background-color: #C7E600;
}


/***************************************************** LEFT SIDEBAR ***********/

.left-sidebar {
    padding: 1em 1em 2em 1em;
    margin: 0 0 0 0;
    /* border-right: 1px solid black;
    border-bottom: 3px solid #33006a; */
    background: #e5e5e5;
}

nav {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 1em 0 0 0;
}

.nav {
    list-style-type: none;
    list-style: none;
}

.nav-list {
    line-height: 80%;
}

.nav-list-item-a {
    padding-left: 0;
    text-decoration: none;
}

.nav-bold {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 1.33em;
}

a:link {
    color: #3C0059;
    text-decoration: none;
}

.cover-link {
    color: white;
}

.cover-link:link {
    text-decoration: underline;
}


/* a:visited {
    background-color: #DBFF00;
    color: #212121;
} */

a:hover {
    background-color: #DBFF00;
    color: #212121;
    text-decoration: underline;
}

a:active {
    background-color: #DBFF00;
    color: #660099;
}

.nav-list-item-a {
    background-color: #DBFF00;
    color: #3C0059;
}


/***************************************************** RIGHT SIDEBAR ***********/

.right-sidebar {
    background: white;
    padding: 0 0 0 0em;
    background: #e5e5e5;
}


/***************************************************** FOOTER ***********/

footer {
    background: #222831;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #DBFF00;
    padding: 3em 0 3em 0;
    text-align: center;
}


/***************************************************** RESPONSIVE HOLY GRAIL ***********/

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
        padding: 3em 0 3em 0;
    }
    main {
        flex: 8.5;
        order: 2;
        min-height: 80vh;
        justify-content: center;
        background-color: #e5e5e5;
    }
    .left-sidebar {
        order: 1;
        flex: 3.2;
    }
    .right-sidebar {
        flex: 2.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}