/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}


/***************************************************** HEADER ***********/

header {
    /* background: white; */
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0 1em 1em;
    /* border-bottom: 3px solid #660099; */
    background: #212121;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    color: #DBFF00;
}


/***************************************************** MAIN ***********/

main {
    /* background: darkslateblue; */
    /* padding: 0 0 0 4em; */
    /* padding: 0 0 0 8em; */
    /* margin: 0 2vw 0 2vw; */
    border-left-color: #222831;
    background: #e5e5e5;
}


/***************************************************** COVER ***********/

.cover-section {
    background-color: white;
    margin: 1em 0 1em 0;
    padding: 3em 1.5em 3em 1.5em;
    background-color: #DBFF00;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(2em, 4vw), 4em);
    margin: 0;
    /* background-color: antiquewhite; */
    color: #212121;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    /* font-size: 4vw; */
    font-size: min(max(2em, 4vw), 4em);
    font-weight: normal;
    padding: .2em 0 .2em 0;
    line-height: 115%;
    color: #660099;
    /* border-radius: 8px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cover-date {
    font-family: 'Epilogue', sans-serif;
    font-size: min(max(1em, 2vw), 1em);
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: #212121;
    border-bottom: 3px solid #212121;
    ;
}

.cover-para {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 135%;
    color: #660099;
    padding-bottom: 1em;
    padding-top: 1em;
}


/***************************************************** Index ***********/


/*****************************************************PARAGRAPH ***********/

.table-section {
    background-color: white;
    padding: 3em 1.5em 3em 1.5em;
    margin: 1em 0 1em 0;
}

.table-container {
    width: 100%;
    /* border-collapse: collapse; */
}

.table-container th {
    border: none;
    /* padding: 0.25em 0 0.25em 0; */
}

.table-container td {
    padding: .5em 0 .5em 0;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* .table-container tr:hover {
    background-color: #DBFF00;
} */


/* .alpha:hover {
    background-color: white;
} */

.paragraph-h4 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 1em;
    color: #660099;
}

.paragraph-h5 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #212121;
    padding-bottom: 0.25em;
    text-align: left;
}

.paragraph {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25em;
    line-height: 135%;
    color: #212121;
}

.table-link {
    text-align: end;
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
}

.table-link-title {
    font-family: 'Epilogue', sans-serif;
    font-size: .85em;
    font-weight: 300;
}


/***************************************************** LEFT SIDEBAR ***********/

.left-sidebar {
    padding: 1em 1em 2em 1em;
    margin: 0 0 0 0;
    /* border-right: 1px solid black;
    border-bottom: 3px solid #33006a; */
    background: #e5e5e5;
}

nav {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 1em 0 0 0;
}

.nav {
    list-style-type: none;
    list-style: none;
    line-height: 100%;
}

.nav-list-item-a {
    padding-left: 0;
    text-decoration: none;
}

.nav-bold {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 1.33em;
}

a:link {
    color: #3C0059;
    text-decoration: none;
}


/* a:visited {
    background-color: #DBFF00;
    color: #212121;
} */

a:hover {
    background-color: #DBFF00;
    color: #212121;
    text-decoration: underline;
}

a:active {
    background-color: #DBFF00;
    color: #660099;
}

.nav-list-item-c {
    background-color: #DBFF00;
    color: #3C0059;
}


/***************************************************** RIGHT SIDEBAR ***********/

.right-sidebar {
    background: white;
    padding: 0 0 0 0em;
    background: #e5e5e5;
}


/***************************************************** FOOTER ***********/

footer {
    background: #222831;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #DBFF00;
    padding: 3em 0 3em 0;
    text-align: center;
}


/***************************************************** RESPONSIVE HOLY GRAIL ***********/

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
        padding: 3em 0 3em 0;
    }
    main {
        flex: 8.5;
        order: 2;
        min-height: 80vh;
        justify-content: center;
        background-color: #e5e5e5;
    }
    .left-sidebar {
        order: 1;
        flex: 3.2;
    }
    .right-sidebar {
        flex: 2.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}